body{
    background: gainsboro;
  }
  *{
    background: cover;
  }
   body > div{
       background: white;
       position: relative;
       margin : 0 auto;
       width: 1300px;
       box-sizing: border-box;
   }
   #header{
      display: block;
      padding-top: 100px;
       width: 100%;
       height: 500px;
       text-align: center;
       background-size: cover;
       background-image: url(../images/food2.jpg);
      }
   #header > div:nth-child(1){
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0, 0, 0, 0.6) 100%);
      height: 100%;
   }
   #settingProfile{
       position: absolute;
       width: 50px;
       height: 50px;
       right: 35px;
       color: tomato;     
       transition : 0.3s;  
    }
    #settingProfile:hover{
        color: red;
        transform:rotate(30deg);
    }
      #profile{
        
        cursor: pointer;
       margin-top : 30px;
       display: inline-block;
       width: 150px;
       height: 150px;
       border-radius: 75px;
       animation: translateUp 1s linear;
       }
    @keyframes translateUp{ 
        0%{
          transform: translateY(100px);
          box-shadow : 1px 1px 0px  white;
        }
        50%{
          box-shadow : 1px 1px 20px yellow; 
        }
        100%{
          transform: translateY(0px);
          box-shadow : 1px 1px 0px white;
        } 
    }
   #id{
       font-weight: bolder;
       margin-top : 30px;
       font-size: 40px;
       color: white;
      }
   #countRecipe{
     color: white;
     font-size : 18px;
   }
   li{
     list-style: none;
   }
   a{
     text-decoration: none;
     color : white;
   }
   *{
     margin : 0;
     padding : 0;
     box-sizing: border-box;
     font-family: 'Muli', sans-serif;
   }
   #up{
     position: fixed;
     width : 50px;
     height : 75px;
     bottom : 4%;
     right: 1%;
     z-index: 1;
   }
   #up>a>i{
     transition:.4s;
     color: tomato;
   }
   #up>a>i:hover{
     color : red;
   }
   
   #menubar{
     position: fixed;
     display: block;
     z-index: 100;
     top: 0;
     width:100%;
     height: 70px;
     background: azure;
     opacity: 0.7;
   }
   #logo{
     position: absolute;
     left : 2%;
     width:280px;
     height: 100%;
   }
   #logo>img{
       width:133px;
   }
   #menubar>ul{
       position: absolute;
       right : 0;
       top:0;
       line-height: 10px;
     }    
     #menubar>ul>li{
       display: inline-block;
       width : 180px;
       font-size: 23px;
       text-align: center;

     }
     #menubar>ul>li>a{
       line-height: 140px;
       font-weight: bolder;
       color:  lightgray;
       transition : .7s;
   }
   #menubar>ul>li>a:hover{
       color:slategray;
       text-decoration: unset;
   }

   #recent{
     position: relative;
     top: 17.4%;
     width :100%;
     padding-top: 40px;
     padding-bottom: 40px;
     min-height: 400px;
     font-size: 20px;
     text-align: center;
   }
   #recentTitle{
     margin :  0 40px 0;
     font-weight: bold;
     color: tomato;
   }
   #recent>p{
     font-size: 16px;
     color: gray;
     font-weight: lighter;
   }
    #moreInfo{
      margin-left: 5px;
      width:40px;
      height: 300px;
      border : 1px solid salmon;
      transition : 0.5s;
      border-radius : 7px;
    }
    #moreInfo:hover{
      width: 60px;
      background: tomato;
    }
    #moreInfo:hover> i{
      color : white;
   }
   .fa-chevron-right{
    color: tomato;
    line-height: 300px;
  }

   .whetherRecommendation{
     margin-left: 10%;
     width: 80%;
   }
   .whetherRecommendation_body{
     width : 100%;
     grid-gap : 0.5em;
     text-align: center;
     /*height: 1227px;*/
     /*overflow: hidden;*/
   }
   .whetherRecommendation_body>div{
     display: inline-block;
     width:300px;
     height: 300px;
     margin: 1px;
     border : 1px solid gainsboro;
     margin-top : 5px;
   }
   #moreInfo2{
    margin-left : 194px;
    margin-top : 10px;
    padding-bottom :30px;
    width: 912px;
    height: 30px;
    border : 1px solid salmon;
    color : tomato;
    transition : 0.5s;
    border-radius : 7px;
    margin-bottom: 40px;
    text-align: center;
   }
   
   #moreInfo2:hover{
      height: 60px;
      
      background: tomato;
   }
   #moreInfo2:hover > i{
    color : white;  
   }

   #like{
     position: relative;
     top: 17.4%;
     width : 100%;
     min-height: 750px;
     text-align: center;
     border-top: 1px solid gainsboro;
     background-size : 100%;
    }
    #likeTitle{
      margin : 40px 0 40px 0;
      font-weight: bold;
      color: tomato;
      
    }
    #loginButton{
      position: absolute;
      display: block;
      top: 15px;
      right: 50px;
      color: tomato;
      font-size: 15px;
      font-weight: bolder;
    }
    #loginButton:hover{
      text-decoration: none;
    }
    #loginButton:visited{
      text-decoration: none;
    }
    #footer{
      width: 90%;
      height: 80%;
      text-align: center;
      margin : 0 auto;
      padding : 0 auto;
      padding-top: 30px;
    }

.recentPost{
  margin-left: 10%;
  
  width: 90%;
}
.recentPost_body{
  height: 400px;
  margin-top: 40px;
  grid-gap : 0.5em;
  text-align: center;
  margin-left :60px;
}
.recentPost_body > div{
  float: left;
  width: 300px;
  height: 300px;
  border : 1px solid gainsboro;
 }
.innerWrapper{
   width: 100%;
   height: 300px;
   padding : 0 auto;
  background: rgba(255,255,255,0.5);
}
.innerWrapper_inner{
  width: 100%;
  height: 300px;
}

.profileBlock_body_inner{
  margin-left: 10px;
  cursor: pointer;
}
.profileBlock_body_inner:hover{
  box-shadow: 0 0 15px 1px tomato;
  transition: 0.5s;
} 
.fa-5x{
  color:tomato;
  display: inline-block;
  width :96px;
  height:96px;
}
#profileBlock_body_inner_profile{
  margin-top: -30px;
  width :90px;
  height:90px;
  border-radius: 45px;
  border : 1px solid gainsboro;
  display: inline-block;
}
.profileBlock_body_inner >.innerWrapper> div:nth-child(2){
  width : 170px;
  height: 80px;
  display: inline-block;
}
.profileBlock_body_inner >.innerWrapper> div:nth-child(3){
  width : 100%;
  padding : 0 10px 0 10px;
  min-height: 80px;
  max-height: 150px;
  overflow: hidden;
 display: inline-block;
}
.profileBlock_body_inner> .innerWrapper> div>div:nth-child(1){
  margin-top : 15px;
  text-align: right;
  font-size: 15px;
  color: gray;
}
.profileBlock_body_inner> .innerWrapper > div>div:nth-child(2){
  text-align: left;
  font-size: 17px;
  font-weight: bolder;
}
.profileBlock_body_inner> .innerWrapper > div >div:nth-child(3){
  text-align: left;
  font-size: 17px;
  font-weight: bolder;  
}
.paragraph{
  font-weight: bold;  
  margin-top : 10px;
  font-size: 15px;
}
.fa-star{
  color : #f7943a;
}