.kby_navbar {
    height: 63px;
    display: inline-block;
    margin-left : 40px;
    float : left;
    overflow: hidden;
    margin-top : 10px;
    font-weight: bolder;
}
.kby_navbar a {
    float: left;
    color: tomato;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 14px 16px;
    transition: .5s;
}

.kby_navbar ul {
    margin: 8px 0 0 0;
    list-style: none;
}

.kby_navbar a:hover {
    color: #DE458C;
}


/* side navigation */


.kby_side-nav {
    height: 400px;
    width: 0;
    position: fixed;
    top:70px;
    left: 0;
    background: white;
    overflow-x: hidden;

    transition: .5s;
    z-index: 1;
}

.kby_side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    color: #ccc;
    font-size: 22px;
    display: block;
    transition: .3s;
}

.kby_right-nav {
    height: 400px;
    width: 0;
    position: fixed;
    top: 70px;
    right: 0px;
    background-color: white;
    padding-top: 60px;
    overflow-x: hidden;
    z-index: 1;
    transition: .5s;
}

.kby_right-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    color: #ccc;
    font-size: 22px;
    display: block;
    transition: .3s;
}

.kby_side-nav a:hover {
    color: #DE458C;
}

.kby_side-nav .kby_btn-close {
    position: absolute;
    top: -20px;
    right: 22px;
    font-size: 45px;
}

.kby_right-nav .kby_btn-close {
    position: absolute;
    top: -20px;
    left : 0;
    font-size: 45px;
}


/* responsive menus */


@media(max-width:568px) {
    .kby_navbar-nav {
        display: none;
    }
}

@media(min-width:568px) {
    /* 	.kby_open-slide {
    display: none;
} */
}
.kby_search{
}
.kby_search input {
    z-index: 50;
    
    opacity: 1;
    
    padding-left :20px;
    border: 5px solid tomato;
    border-radius : 35px;
    color: #888;
    float: left;
    font-size: 18px;
    height: 50px;
    width: 400px;
}

.kby_search input:focus {
    z-index: 50;
    background: white;
    color: black;
    outline: none;
    opacity: 1;
}

.kby_search button {
    background: tomato;
    box-sizing: border-box;
    border: 1px solid tomato;
    border-radius : 35px;
    margin-left : 20px;
    color: hsla(0, 0%, 100%, 0.kby_973);
    display: block;
    float: left;
    font-size: 13px;
    height: 50px;
    line-height: 40px;
    position: relative;
    width: 80px;
    opacity: 1;
}

.kby_search button:hover,
.kby_search button:focus {
    background: tomato;
    color: white;
    outline: none;
}

.kby_search button:active {
    background: red;
    top: 1px;
}

.kby_raise {
    width: 50%;
    height: 70%;
    float: left;
    font: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

button {
    color: var(--color);
    -webkit-transition: 0.kby_25s;
    transition: 0.kby_25s;
}

button:hover,
button:focus {
    border-color: var(--hover);
    color: #fff;
}


html,
body {
    height: 100%;
}

.kby_container {
    height: 100%;
    width: 100%;
    background: none;
}

.kby_container>.kby_menu {
    width: 100%;
    height: 50px;
    background: rgb(255, 255, 255);
}



.kby_top>.kby_logo {
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    width: 10%;
    height: 100px;
}

.kby_top>.kby_logo>img {
    padding: 10px;
    width: 90%;
    height: 100%;
}


.kby_menu>.kby_menu_center {
    background: tomato;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kby_menu_center>.kby_navbar {
    background: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}

.kby_menu>.kby_menu_center>.kby_search {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50%;
    height: 100%;
    float: left;
    background: white;
}


.kby_v-tab_tab-head {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    width: 125px;
}

.kby_v-tab_tab-head li {
    margin: 0 0 1px 0;
    cursor: pointer;
    padding: 0px 2%;
    height: 37px;
    line-height: 31px;
    color: #333;
    border-bottom: 0px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.kby_v-tab_tab-head li:hover {
    background-color: tomato;
    color: white;
}

.kby_v-tab_tab-head li.kby_active {
    border-right: 3px solid tomato;
    background-color: #fff;
    color: tomato;
    display: block;
}

.kby_v-tab_container {
    background: white;
    border-left: 1px solid #ccc;
    float: left;
    width: 500px;
    height: 100%;
}

.kby_v-tab_content {
    padding: 10px 20px;
    display: none;
}

.kby_v-tab_content> :first-child {
    margin-top: 0;
}

.kby_range {
    width: 100%;
}


.kby_range-labels {
    margin: 18px -41px 0;
    padding: 0;
    list-style: none;
}

.kby_range-labels li {
    position: relative;
    margin-left: 4.kby_2px;
    float: left;
    width: 102px;
    text-align: center;
    color: #b2b2b2;
    font-size: 14px;
    cursor: pointer;
}

.kby_col6 {
    margin: 50px 50px;
    width: 70%;
}


/* Slider */

.kby_ui-widget.kby_ui-widget-content {
    border: 1px solid #f1f1f1;
    background: linear-gradient(e8e8e8, white);
}

.kby_ui-slider-horizontal {
    height: 10px;
}

.kby_ui-slider {
    position: relative;
    text-align: left;
}

.kby_ui-slider-horizontal .kby_ui-slider-range {
    top: 0;
    height: 100%;
}

.kby_ui-slider-horizontal .kby_ui-slider-handle {
    top: -5px;
    margin-left: -10px;
}

.kby_ui-state-default,
.kby_ui-widget-content .kby_ui-state-default {
    border: 1px solid #c5c5c5;
    background: #695D46;
    font-weight: normal;
    color: #454545;
}

.kby_ui-slider .kby_ui-slider-range {
    position: absolute;
    z-index: 1;
    display: block;
    border: 0;
    background-position: 0 0;
}

.kby_ui-slider .kby_ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    -ms-touch-action: none;
    touch-action: none;
    outline: 0;
}

.kby_ui-widget-header {
    border: 1px solid #dddddd;
    background: #FFC107;
    color: #333333;
    font-weight: bold;
}

input#kby_amount {
    font-size: 20px;
    height: 20px;
    position: absolute;
    top: 50px;
    width: 250px;
    text-align: center;
    border: 0;
    color: #f6931f;
    font-weight: normal;
    color: #fff;
    border-radius: 20px;
    background-color: #ff712c;
}


.kby_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width : 1725px;
};