* { padding: 0; margin: 0; }

body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
}

#wrapper { 
 margin: 0 auto;
 width:1200px;
 /* width: 922px; */
}

#rogo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: white; 
}

#bt_rogo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: auto; margin-right: auto; display: block;
    background-color: white;
}

#faux {
 margin-bottom: 0px;
 overflow: auto; 
 width: 100%;
}

#header {
width:1200px;
 color: #333;
 /* width: 902px; */
 padding: 10px;
 height: 180px;
 margin: 20px 0px 0px 0px;
 background-color : white;
 text-align: center;
 background-image: url('/salad-2068220_1920.jpg');
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 opacity: 0.8;
}

#header a {
    text-decoration: none;
    background-color: tomato;
    color: white;
}


#navigation {
 color: #333;
 padding: 10px;
 margin: 0px 0px 0px 0px;
 background-color:tomato;
 text-align: center;
 width:1200px;
}


.board{
   margin: 30px;
   }

.comment{
    margin: 30px;
    }
 

/* #leftcolumn { 
 display: inline;
 color: #333;
 margin:10px;
 padding:0;
 width: 130px; height: 700px;
 border: 1px solid black;
 border-left-color: blue;
 float: left;
} */

/* 
/* 
#rightcolumn { 
 display: inline;
 position: relative;
 color: #333;
 margin: 10px 10px 10px 0px;
 padding:0;
 width: 100px; height: 500px;
 float: right;
 /* border:2px solid tomato; 
} */

#footer { 
 width:1200px;
 height: 30px;
 /* width: 902px; */
 clear: both;
 color: white;
 background:tomato;
 padding: 10px;
 font-size: 20px;
 font-family: "Nanum Gothic", sans-serif;
}


#bt_rogo p {
    font-size: 12px;
    font-family: "Nanum Gothic", sans-serif;
}


.clear { clear: both; background: none; }



/* 상단 메뉴 */
.admin > ul > li{
    display: inline-block;
    background-color:tomato;
    width:250px;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 19px;
}

/* admin a 링크 */
.admin a{
    text-decoration: none; 
    color:white;
}


.admin li > ul {
    display:none; 
    text-align: left;
    list-style: none;
    height:auto;
    padding:0px;
    margin:0px;
    border:0px;
    position:absolute;
    width:200px;
    z-index:200;
}

.admin li:hover a {
  background-color: tomato;
  color: white;
  font-weight: bold;
}

/* 마우스 커서 올리면 서브메뉴 */
.admin li:hover ul {
        display:block;   
        text-align: center;
        width:250px;
        background-color : tomato;
        padding: 15px 0px;
		background: tomato;
		opacity: 1;
		visibility: visible;
        box-shadow: 1px 1px 7px tomato;
        transition: 2s;
		animation-duration: 1s;
        animation-timing-function: ease;
}


/* 메뉴 눌렀을 때 효과 */
.admin li:hover ul li a {
    color: white;
}


#content { 
    
    float: left;
    color: #333;
    margin: 5px 5px; 
    width:1210px; 
    min-height: 400px;
    display: flex;
    justify-content:center;
    background-color: white;
   }
   

#page{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   width: 40%;
   text-align: center;
   font-weight: bold;
   font-size: 18px;
   grid-column : 1/6;
   padding: 10px;
   margin: 0 auto;
   margin-bottom : 20px;

}


#contentWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width:100%;
    
}


.content2{
    
    top: 25px;
    left: 5px;
    padding-right:5px;
    padding-left: 5px;
    /* margin:10px; */
    width: 20px;
    height: 600px;
    border: 5px solid white;
    align-items: center;
    justify-content: center;
    float:left;
}

.top{

    font-family: "Nanum Gothic", sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    border: 5px solid white;
    color:white;
    background-color: tomato;
    width:  220px;
    height: 60px;
    line-height: 60px;
}



.buttom{
    border: 4px solid white;
    grid-template-rows: 20px;
    text-align: center;
    background-color: white;
    width: 220px;
    height: 500px;
    font-size: 15px;
}

.buttom p {
    border: 2px solid tomato;
    margin:1px 0 0 0;
    color:black;
    font-family: Helvetica;
    font-size: 20px;
}


.buttom > .warning {
    font-size: 20px;
    font-family: "Nanum Gothic", sans-serif;
}


/* 
강퇴버튼
*/


a,
span {
    font-size: 20px;
}

svg {
    width: 130px;
    height: 30px;
}

.highlight {
    height: 1px;
}

.highlight .button {
    display: inline-block;
    color: #fff;
    background: tomato;
    width: 100px;
    height: 21px;
    line-height: 21px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}


.highlight div {
    border:2px solid tomato;
}


.highlight .button:before {
    content: "";
    position: absolute;
    top: -20px;
    left: -80px;
    height: 30px;
    width: 70px;
    background: rgba(255, 255, 255, .7);
    transform: rotate(20deg);
}

.highlight .button:hover:before {
    left: 140px;
    transition: all .5s;
}
