* {
  padding: 0;
  margin: 3px;
  border: 0;
}
.all {
  margin: auto;
  width: 60em;
  min-width: 800px;
}

/* 요리 제목, 사진, 아이디 정보 */
#top-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 300px;
  background: white;
  border: 0.5px solid lightgrey;
}
#top-wrapper > .top-left {
  display: grid;
  grid-template-rows: 0.5fr 2fr 0.5fr;
}
/* #top-wrapper > .top-left > div{
    border: 0.5px solid black;
} */
.id {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
}
.id > div {
  vertical-align: center;
}
.id > div > img {
  vertical-align: center;
  width: 40px;
  height: 40px;
  /* object-fit: cover; */
  border-radius: 50%;
}
#top-wrapper > .top-right > a > img {
  position: relative;
  top: -3px;
  left: -3px;
  width: 470px;
  height: 294px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px;
}
/* 요리 분류 bar */
/* #sort-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background: #ed1c24;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
} */

/* 요리 정보 */
#ingrd-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background: whitesmoke;
  height: 250px;
}
#ingrd-wrapper > .cookinfo > div {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  height: 40px;
  line-height: 50px;
}
.cookinfo {
  border: 0.5px solid lightgrey;
  /*  border: 0.5px solid black; */
  margin: 10px;
}
.ingrd-title {
  height: 50px;
  line-height: 50px;
  font-weight: bold;
}

/* 레시피 작성 */
#content-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 1300px;
  /* max-height: auto; */
  background: white;
  border: 0.5px solid lightgrey;
}

/* 좋아요 */
#likebar {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #ed1c24;
}

#likebar > .fas{
  color : white;
  border : white;
}

/* 참고레시피 이미지 */
#referImg-wrpper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 232px;
}
#referImg-wrpper > .referImg {
  box-sizing: border-box;
  overflow: hidden;
}

#referImg-wrpper > .referImg > img {
  position: relative;
  top: -3px;
  left: -3px;
  width: 232.5px;
  height: 226px;
  overflow: hidden;
  box-sizing: border-box;
}
#referImg-wrpper > .referImg:hover {
  background: rgba(255, 255, 255, 0.5);
  /*  background: lightgrey;
  opacity: 0.5; */
}
#referImg-wrpper > .referImg > a {
  text-align: center;
  position: absolute;
  width: 232.5px;
  z-index: 1;
  margin-top: 60px;
  display: none;
}
#referImg-wrpper > .referImg:hover a {
  display: block;
  color: black;
  font-weight: bold;
  z-index: 1;
}

/* 댓글 */
#commemt-wrapper {
  background: white;
  border: 0.5px solid lightgrey;
  height: 600px;
  /* max-height: auto; */
  display: grid;
  grid-template-rows: 10fr 0.8fr;
}
.comment {
  display: grid;
  grid-template-columns: 1fr 4fr 0.5fr 0.65fr;
  height: 50px;
  line-height: 50px;
  /* grid-template-rows: auto; */
}
/* #commemt-wrapper > .comment > div{
    border: 0.5px solid black;
} */
.comment > .commid {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  overflow: hidden;
  box-sizing: border-box;
}
.likecnt {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  text-align: center;
}
.commid > div > img {
  width: 40px;
  height: 40px;
  vertical-align: center;
  object-fit: cover;
  border-radius: 50%;
}
#pageNo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 400px;
  margin: 0 auto;
  line-height: 38px;
}
#pageNo div {
  /* border: 1px solid black; */
  text-align: center;
}

/* 하단 */
#footer {
  height: 100px;
  background: #ed1c24;
  text-align: center;
  line-height: 100px;
  color: white;
  font-weight: bold;
}