*{
    padding: 0;
    margin: 2px;
    border: 0;
}
.all{
    margin: auto;
    width: 60em;
    min-width: 800px;
}
#line{
    border-bottom: 1px solid black;
    /* background: #f7943a; */
    height: 30px;
    line-height: 30px;
    font-weight: bold;
}

/* 요리 제목, 사진 */
#top-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 300px;
    background: white;
    border : .5px solid lightgrey;
}
#top-wrapper > .top-left {
    display: grid;
    grid-template-rows: .5fr 2fr;
    font-size : 20px; font-weight: bold;
    padding: 10px;
}
#titleinput{
    border-bottom : 1px solid tomato;
    width : 400px;
}

/* 요리 정보 */
.ingrd-title{
   /*  border-bottom: 2px solid #f7943a;  */
    font-weight: bold;
    border-right: 1px solid black;
}
input[type="text"], select{
    background: none;
    width : 200px; height: 40px;
}
#top-wrapper > .top-right > a > img {
    position: relative;
    top:-3px;
    left: -3px;
    width: 470px;
    height: 294px;
    overflow: hidden;
    box-sizing: border-box;
    padding : 10px;
}

#ingrd-wrapper{
    display : grid;
    grid-template-columns: 1fr 1fr;
    background: whitesmoke;
    height: 200px;
}
#ingrd-wrapper > .cookinfo > .select-ingrds{
    display : grid;
    grid-template-columns: .5fr 1fr;
    height: 50px; line-height: 50px;
/*     border: 0.5px solid black; */
    margin: 10px;
}

/* 재료 */
#wrapper-grocery{
    height: 200px;
    border : 0.1px solid lightgrey;
}
#wrapper-grocery > .grocery{
    display : grid;
    grid-template-columns: .5fr 4fr .5fr;
}
.grocery input[type="text"]{
    border: 1px solid lightgrey;
    width: 750px;
}
#wrapper-grocery > .groceryList{
    /* border-top : 2px solid #f7943a; */
    border-top : 2px solid tomato;
    height: 150px;
    padding: 20px;
}

/* 레시피 작성 */
#content-wrapper{
    display : grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 800px;
    background: white;
    border : .5px solid tomato;
}

/* 참고하기 */
#refer-wrapper{
    display : grid;
    grid-template-columns: 2fr 4fr .5fr;
    height : 60px; line-height: 60px;
    /* max-height: auto; */
    background: white; border : .5px solid grey;
}
#refer-wrapper div > #search{
    width: 500px;
    height: 30px;
    border-bottom: 1px solid lightgrey;
}
.fas{
    position: relative;
    left : 15px;
    top: 5px;
    color:  tomato;
    /* color:  #f7943a; */
}

/* 등록버튼 */
#submit{
    margin-top: 10px;
}
#submit > button{
    margin-left : 355px;
    /* background: #f7943a; */
    background: tomato;
    text-align: center;
    width: 250px;
    height: 40px; line-height: 40px;
    color: white;
}

/* 하단 */
#footer{
    margin-top : 50px;
    /* background: #f7943a; */
    background: tomato;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    /* border-top: 2px solid #f7943a; */
    border-top: 2px solid tomato;
}
#footer > div > img {
    margin: 0 auto;
    background : white;
    border-radius: 50%;
    margin: -25px;
    width: 65px; height: 65px;
}